Importing all the libraries for the prediction

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing, cross_validation
from random import shuffle
from sklearn import preprocessing, cross_validation
from sklearn.model_selection import train_test_split

Resding train and test csv to DataFrames

In [42]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
train_df.head()

,ID,Months_since_Last_Donation,Number_of_Donations,Total_Volume_Donated (c.c.),Months_since_First_Donation,Made_Donation_in_March_2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

Checking the number of samples in class 0 and in class 1

In [43]:
class_0 = train_df[train_df.Made_Donation_in_March_2007 == 0]
class_1 = train_df[train_df.Made_Donation_in_March_2007 == 1]
print(len(class_0))
print(len(class_1))

438
138

Oopss, We have more number of Zeros the Ones... The difference is very much... We need to resample the class Zero.
We'll have to deal with the data loses.

In [44]:
class_0 = class_0.sample(frac = 0.4)
print(len(class_0))

175

In [45]:
df = class_0.append(class_1)
df = df.sample(frac = 1)
#print(df.head(2))
#print(df.tail(2))
print(len(df))

313

In [46]:
for i in range(700):
    df = df.sample(frac = 1)
df.head()

,ID,Months_since_Last_Donation,Number_of_Donations,Total_Volume_Donated (c.c.),Months_since_First_Donation,Made_Donation_in_March_2007
90,493,4,8,2000,40,1
11,285,1,13,3250,47,0
37,665,4,20,5000,69,1
170,111,4,1,250,4,1
335,628,16,7,1750,93,0

In [47]:
drop_attributes = ['Total_Volume_Donated (c.c.)', 'Made_Donation_in_March_2007', 'ID']
X = np.array(df.drop(drop_attributes, 1).astype(float))
y = np.array(df['Made_Donation_in_March_2007'])

In [48]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.20)
y_train

array([0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1], dtype=int64)

In [52]:
from sklearn.svm import LinearSVC

In [37]:
model = LogisticRegression()
#model = MLPClassifier()
model.fit(X_train, y_train)
accuracy = model.score(X_test, y_test)
accuracy

0.69841269841269837

In [53]:
model_2 = LinearSVC()
model_2.fit(X_train, y_train)
accuracy_2 = model_2.score(X_test, y_test)
accuracy_2

0.61904761904761907

In [38]:
drop_attributes = ['Total_Volume_Donated_(c.c.)', 'ID']
test_x = np.array(test_df.drop(drop_attributes, 1).astype(float))
test_x.reshape(-1,1)
print(test_x.shape)
print(X_train.shape)

(200, 3)
(250, 3)

In [75]:
y = model.predict(test_x)
#print(y)
y_log = model.predict_proba(test_x)
y_log

array([[ 0.36414033,  0.63585967],
       [ 0.7885012 ,  0.2114988 ],
       [ 0.49612941,  0.50387059],
       [ 0.52075632,  0.47924368],
       [ 0.34058411,  0.65941589],
       [ 0.17940825,  0.82059175],
       [ 0.47126414,  0.52873586],
       [ 0.72493872,  0.27506128],
       [ 0.93797376,  0.06202624],
       [ 0.80545641,  0.19454359],
       [ 0.67183271,  0.32816729],
       [ 0.69880754,  0.30119246],
       [ 0.53436838,  0.46563162],
       [ 0.49612941,  0.50387059],
       [ 0.50398504,  0.49601496],
       [ 0.66233573,  0.33766427],
       [ 0.59890613,  0.40109387],
       [ 0.40145609,  0.59854391],
       [ 0.83357301,  0.16642699],
       [ 0.49437941,  0.50562059],
       [ 0.40018482,  0.59981518],
       [ 0.48796268,  0.51203732],
       [ 0.4503212 ,  0.5496788 ],
       [ 0.49612941,  0.50387059],
       [ 0.5321384 ,  0.4678616 ],
       [ 0.50100523,  0.49899477],
       [ 0.45588764,  0.54411236],
       [ 0.72493872,  0.27506128],
       [ 0.49136175,  0.50863825],
       [ 0.36414033,  0.63585967],
       [ 0.48015338,  0.51984662],
       [ 0.90319459,  0.09680541],
       [ 0.44709926,  0.55290074],
       [ 0.54920228,  0.45079772],
       [ 0.60831675,  0.39168325],
       [ 0.5857315 ,  0.4142685 ],
       [ 0.56791366,  0.43208634],
       [ 0.72493872,  0.27506128],
       [ 0.46177033,  0.53822967],
       [ 0.49612941,  0.50387059],
       [ 0.42997124,  0.57002876],
       [ 0.72176452,  0.27823548],
       [ 0.83802686,  0.16197314],
       [ 0.43768928,  0.56231072],
       [ 0.73595738,  0.26404262],
       [ 0.44709926,  0.55290074],
       [ 0.4590517 ,  0.5409483 ],
       [ 0.74745704,  0.25254296],
       [ 0.72493872,  0.27506128],
       [ 0.68586571,  0.31413429],
       [ 0.33591067,  0.66408933],
       [ 0.25031863,  0.74968137],
       [ 0.69112981,  0.30887019],
       [ 0.50296876,  0.49703124],
       [ 0.87876116,  0.12123884],
       [ 0.64381333,  0.35618667],
       [ 0.57827846,  0.42172154],
       [ 0.42341408,  0.57658592],
       [ 0.49602964,  0.50397036],
       [ 0.33713233,  0.66286767],
       [ 0.49612941,  0.50387059],
       [ 0.72698139,  0.27301861],
       [ 0.56548436,  0.43451564],
       [ 0.42633421,  0.57366579],
       [ 0.72698139,  0.27301861],
       [ 0.7740834 ,  0.2259166 ],
       [ 0.73468335,  0.26531665],
       [ 0.69207675,  0.30792325],
       [ 0.49598509,  0.50401491],
       [ 0.49612941,  0.50387059],
       [ 0.65375204,  0.34624796],
       [ 0.72557867,  0.27442133],
       [ 0.96551294,  0.03448706],
       [ 0.49612941,  0.50387059],
       [ 0.87992222,  0.12007778],
       [ 0.70508741,  0.29491259],
       [ 0.72711543,  0.27288457],
       [ 0.52479635,  0.47520365],
       [ 0.75443164,  0.24556836],
       [ 0.42341408,  0.57658592],
       [ 0.96551294,  0.03448706],
       [ 0.52075632,  0.47924368],
       [ 0.45588764,  0.54411236],
       [ 0.42997124,  0.57002876],
       [ 0.33591067,  0.66408933],
       [ 0.84000917,  0.15999083],
       [ 0.66233573,  0.33766427],
       [ 0.77144796,  0.22855204],
       [ 0.69207675,  0.30792325],
       [ 0.46233206,  0.53766794],
       [ 0.49612941,  0.50387059],
       [ 0.64687596,  0.35312404],
       [ 0.73595738,  0.26404262],
       [ 0.74391566,  0.25608434],
       [ 0.62956139,  0.37043861],
       [ 0.53571577,  0.46428423],
       [ 0.46787621,  0.53212379],
       [ 0.57044192,  0.42955808],
       [ 0.85488556,  0.14511444],
       [ 0.47126414,  0.52873586],
       [ 0.44709926,  0.55290074],
       [ 0.70706662,  0.29293338],
       [ 0.8414744 ,  0.1585256 ],
       [ 0.57487671,  0.42512329],
       [ 0.65682455,  0.34317545],
       [ 0.40707162,  0.59292838],
       [ 0.64090712,  0.35909288],
       [ 0.40052242,  0.59947758],
       [ 0.49612941,  0.50387059],
       [ 0.73921173,  0.26078827],
       [ 0.61828537,  0.38171463],
       [ 0.49612941,  0.50387059],
       [ 0.90319459,  0.09680541],
       [ 0.41280229,  0.58719771],
       [ 0.52075632,  0.47924368],
       [ 0.88403903,  0.11596097],
       [ 0.86473783,  0.13526217],
       [ 0.43713315,  0.56286685],
       [ 0.26913637,  0.73086363],
       [ 0.50079799,  0.49920201],
       [ 0.70706662,  0.29293338],
       [ 0.38178062,  0.61821938],
       [ 0.6726405 ,  0.3273595 ],
       [ 0.14699588,  0.85300412],
       [ 0.41137999,  0.58862001],
       [ 0.37272508,  0.62727492],
       [ 0.52920031,  0.47079969],
       [ 0.63971627,  0.36028373],
       [ 0.6726405 ,  0.3273595 ],
       [ 0.70464283,  0.29535717],
       [ 0.45832288,  0.54167712],
       [ 0.66233573,  0.33766427],
       [ 0.63055049,  0.36944951],
       [ 0.49612941,  0.50387059],
       [ 0.54920228,  0.45079772],
       [ 0.47126414,  0.52873586],
       [ 0.66233573,  0.33766427],
       [ 0.81001295,  0.18998705],
       [ 0.27744015,  0.72255985],
       [ 0.53318861,  0.46681139],
       [ 0.08524293,  0.91475707],
       [ 0.49612941,  0.50387059],
       [ 0.45588764,  0.54411236],
       [ 0.57827846,  0.42172154],
       [ 0.49612941,  0.50387059],
       [ 0.86473783,  0.13526217],
       [ 0.86249129,  0.13750871],
       [ 0.50535281,  0.49464719],
       [ 0.90390316,  0.09609684],
       [ 0.44709926,  0.55290074],
       [ 0.86516608,  0.13483392],
       [ 0.32983547,  0.67016453],
       [ 0.55161692,  0.44838308],
       [ 0.73658101,  0.26341899],
       [ 0.73338373,  0.26661627],
       [ 0.50492604,  0.49507396],
       [ 0.76242275,  0.23757725],
       [ 0.44709926,  0.55290074],
       [ 0.25031863,  0.74968137],
       [ 0.66233573,  0.33766427],
       [ 0.56548436,  0.43451564],
       [ 0.72493872,  0.27506128],
       [ 0.4431815 ,  0.5568185 ],
       [ 0.44649663,  0.55350337],
       [ 0.58391098,  0.41608902],
       [ 0.81413725,  0.18586275],
       [ 0.45588764,  0.54411236],
       [ 0.48015338,  0.51984662],
       [ 0.49612941,  0.50387059],
       [ 0.49437941,  0.50562059],
       [ 0.86473783,  0.13526217],
       [ 0.97150148,  0.02849852],
       [ 0.49612941,  0.50387059],
       [ 0.05979989,  0.94020011],
       [ 0.64687596,  0.35312404],
       [ 0.84738863,  0.15261137],
       [ 0.4239659 ,  0.5760341 ],
       [ 0.521967  ,  0.478033  ],
       [ 0.7666479 ,  0.2333521 ],
       [ 0.49612941,  0.50387059],
       [ 0.72493872,  0.27506128],
       [ 0.64692641,  0.35307359],
       [ 0.38178062,  0.61821938],
       [ 0.76242275,  0.23757725],
       [ 0.37314728,  0.62685272],
       [ 0.70464283,  0.29535717],
       [ 0.72711543,  0.27288457],
       [ 0.66233573,  0.33766427],
       [ 0.44709926,  0.55290074],
       [ 0.70464283,  0.29535717],
       [ 0.19845916,  0.80154084],
       [ 0.57014097,  0.42985903],
       [ 0.74391566,  0.25608434],
       [ 0.74925302,  0.25074698],
       [ 0.70508741,  0.29491259],
       [ 0.76242275,  0.23757725],
       [ 0.83043674,  0.16956326],
       [ 0.81806509,  0.18193491],
       [ 0.86184107,  0.13815893],
       [ 0.4723155 ,  0.5276845 ]])

In [82]:
wr = [y_log[i][1] for i in range(len(y_log))]
wr
list(test_df['ID'])

[659,
 276,
 263,
 303,
 83,
 500,
 530,
 244,
 249,
 728,
 129,
 534,
 317,
 401,
 696,
 192,
 176,
 571,
 139,
 423,
 563,
 56,
 528,
 101,
 467,
 382,
 466,
 294,
 512,
 659,
 389,
 487,
 701,
 419,
 536,
 240,
 508,
 515,
 283,
 650,
 65,
 228,
 741,
 297,
 464,
 63,
 231,
 28,
 248,
 357,
 300,
 726,
 680,
 520,
 254,
 582,
 143,
 98,
 1,
 221,
 352,
 64,
 138,
 745,
 64,
 688,
 623,
 289,
 174,
 690,
 105,
 427,
 48,
 14,
 657,
 301,
 455,
 579,
 722,
 98,
 491,
 303,
 466,
 65,
 300,
 9,
 622,
 323,
 289,
 568,
 290,
 156,
 464,
 426,
 306,
 4,
 12,
 187,
 406,
 96,
 509,
 733,
 548,
 478,
 501,
 127,
 199,
 299,
 162,
 235,
 23,
 473,
 487,
 683,
 303,
 309,
 569,
 34,
 686,
 84,
 733,
 537,
 181,
 453,
 67,
 161,
 307,
 703,
 181,
 246,
 316,
 278,
 346,
 545,
 419,
 694,
 622,
 663,
 262,
 461,
 373,
 233,
 466,
 207,
 263,
 16,
 513,
 449,
 429,
 701,
 632,
 529,
 245,
 344,
 353,
 241,
 633,
 624,
 726,
 189,
 138,
 402,
 511,
 590,
 334,
 447,
 119,
 389,
 644,
 423,
 131,
 405,
 82,
 643,
 156,
 617,
 574,
 272,
 613,
 545,
 685,
 570,
 537,
 691,
 85,
 483,
 455,
 93,
 744,
 33,
 321,
 523,
 426,
 196,
 301,
 103,
 224,
 454,
 585,
 154]

In [83]:
dicto = {'':list(test_df['ID']), 'Made Donation in March 2007':wr}

In [85]:
sub_df = pd.DataFrame(dicto)

In [88]:
sub_df.head()
sub_df.to_csv('sub.csv')

----------------- The End ------------------------